services:
  redis:
    image: redis:alpine
    ports:
      - "6380:6379"

  db:
    image: postgres:17
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rootpassword
      POSTGRES_DB: ecommerce
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    command: poetry run uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env
      - .env.local
    environment:
      - SQLALCHEMY_DATABASE_URL=postgresql://root:rootpassword@db:5432/ecommerce
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
      - db
  queue:
    build:
      context: .
      dockerfile: "task_queue/Dockerfile"
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
      - .env.local
    environment:
      - SQLALCHEMY_DATABASE_URL=postgresql://root:rootpassword@db:5432/ecommerce
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
      - db
  # unit-test:
  #   build: .
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #     - db

volumes:
  postgres_data:
